*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ol {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 0;
}

.primerdia {
    grid-column-start: 4;
}

.dias {
    background-color: rgb(201, 201, 201);
    font-weight: bold;
}

.calendar {
    text-align: center;
    width: 300px;
}